/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Archivo Black', sans-serif;
font-family: 'Space Mono', monospace; 
*/

* {
  margin: auto;
  text-align: center;
  /* font-family: 'Noto Sans JP', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #bea6d4;
  border-radius: 2em;
  background: linear-gradient(to bottom left, #bea6d4, #ffc897);

}

.header {
  padding-top: 1em;
}

.headerLink {
  color: #2946bf;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
}

a {
  color: #2946bf;
  text-decoration: underline;

}

a:hover {
  text-decoration: underline;
text-decoration-color: #ff1abf;}

/* .headerLink:hover {
  border: solid 1px #ff1abf;

} */


.mainDiv {
  flex-direction: row;
  padding-top: 2vh;
  justify-content: center;
  align-content: center;
  align-self: center;
  max-width: 85%;
  align-items: center;
  
}

.aboutDiv {
  padding-top: 8vh;
  min-width: 400px;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  color: #2946bf;
  font-family: 'Archivo Black', sans-serif;
}

.mainP {
  font-family: 'Noto Sans', sans-serif;
  color: #2946bf;
  padding-top: 1vh;
}

input,
textarea {
  border: solid 1.9px #ff1abf;
  border-radius: 10px;
  margin: 7px;
  color: #2946bf;
}

input,textarea:focus {
  border-color: #ff1abf;
  outline-color: #ff1abf;
}

.App {
  text-align: center;
}

img {
  width: auto;
  max-width: 300px;
  height: auto;
  padding: 5px;
  border-radius: 2em;
  
}

p {
  max-width: 600px;
}

.headerIcon {
  width: 2em;
  padding: 1em;
}
.icon {
  max-width: 2em;
}
