h4 {
  color: #2946bf;
  max-width: 50%;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  padding-top: .5vh;
}

h1 {
  color: #2946bf;
  font-family: 'Archivo Black', sans-serif;

}

.projectTitle {
  padding-top: 1vh;
}

strong {
  font-weight: 900;
}