h3 {
  color: #2946bf;
  max-width: 95%;
  font-family: 'Archivo Black', sans-serif;

}

h2 {
  color: #2946bf;
  font-family: 'Archivo Black', sans-serif;

}

span {
  font-family: 'Space Mono', monospace; 
}
